.register {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.register h1 {
	font-size: 2rem;
}

.register p {
	color: var(--gray);
	font-size: 1.6rem;
}

.register form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 28%;
}

.register form label {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.register form label span {
	font-size: 1.4rem;
}

.register form label input {
	height: 4rem;
	width: 100%;
	border: 1px solid var(--gray);
	border-radius: 0.6rem;
	padding: 0 1rem;
	font-size: 1.4rem;

	&::placeholder {
		font-size: 1.4rem;
	}
}
