.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.home form {
	width: 100%;
	max-width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.home form input {
	width: 100%;
	max-width: 50%;
}

.home .posts {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.home .posts h2 {
	font-size: 1.8rem;
}

.home .no_posts {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.home .no_posts p {
	font-size: 2rem;
}
