.search {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.search h1 {
	font-size: 2.6rem;
}
.search .search_list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
.search .search_list p {
	font-size: 2rem;
}
