.post {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;
}
.post img {
	border-radius: 1rem;
	width: 100%;
	max-width: 50%;
}

.post .content_text {
	width: 100%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: left;
}

.post .content_text .title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post .content_text .title span {
	color: var(--gray);
	font-size: 1.4rem;
	font-weight: 500;
}

.post .content_text .body_post {
	font-size: 1.6rem;
	word-break: break-word;
	overflow-wrap: break-word;
}

.post .content_text .tags {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.content_text .tags li {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	background-color: var(--light-red);
	padding: 1rem;
	border-radius: 0.6rem;
}

.content_text .tags li p {
	font-size: 1.4rem;
}

.content_text a {
	width: 100%;
	max-width: 20%;
}
